<div class="container" style="margin-top: 50px;">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <h2>Your Order R-000<%= @order.id %></h2>

  <table>
    <% for order_item in @order.order_items %>
      <tr>
        <td><%= order_item.quantity %> &times;</td>
        <td><%= order_item.book.title %></td>
        <td class="item_price"><%= number_to_currency(order_item.total_price) %></td>
        <td><%= link_to 'X', order_item, :method => :delete, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
    <tr class="total_line">
  
      <td colspan="2">
        <strong>Total</strong>
      </td>
      <td class="total_cell">
        <strong><%= number_to_currency(@order.total_price) %></strong>
      </td>
    </tr>
  </table>

  <div class="row">
    <div class="col-xs-2">
      <%= button_to 'Empty cart', @order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn btn-primary' %>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Continue shopping', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>