<div class="container">
  <div class="row">
    <div class="col-md-9" style="margin-top: 50px;">
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <p>
        <%= image_tag(@book.image) %>
      </p>
      <p>
        <h4>
          <%= @book.title %>
        </h4>
      </p>
      <p>
        <%= @book.description %>
      </p>
      <p>
        <strong>Authors:</strong>
        <% @book.authors.each do |author| %>
          <%= link_to author.name, author %>
        <% end %>
        <!--<%= @book.authors.pluck(:name).join(", ") %> /-->
      </p>
      <p>
        <h3>
          <%= number_to_currency(@book.price) %>
        </h4>
      </p>
      
      <p>
        <%= form_for @order_item do |f| %>
          <%= f.number_field :quantity, min: 1, max: 5, value: 1, class: 'input-mini' %>
          <%= f.hidden_field :book_id, value: @book.id %>
          <%= f.submit 'Add to cart', class: 'btn btn-default btn btn-primary' %>
        <% end %>
      </p>
      
      <div class="ratings">
        <p class="pull-right">
          <%= @book.ratings.count %>
          reviews
        </p>
        <p>
          <strong>Rating:</strong>
          <% 5.times do |n| %>
            <% if @book.ratings.average(:value).nil? %>
              Not a rating
              <% break %>
            <% elsif @book.ratings.average(:value).ceil > n %>
              <span class="glyphicon glyphicon-star"></span>
            <% else %>
              <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          <% end %>
          <%= number_with_precision(@book.ratings.average(:value), precision: 2) %>
        </p>
      </div>
      <%= link_to 'Add a review', new_book_rating_path(@book), class: 'btn btn-info' %>
      <hr>


      <% @book.ratings.each do |rating| %>
        <div class="row">
          <div class="col-md-12">
            <p>
              <span class="date">
                <%= rating.updated_at.strftime("%B %d, %Y") %>
              </span>
            </p>
            <p>
              <% 5.times do |n| %>
                <% if rating.value > n %>
                  <span class="glyphicon glyphicon-star"></span>
                <% else %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              <% end %>
              <strong>
                <%= rating.value %>
              </strong>
              <p>
                <%= rating.review %>
              </p>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', books_path %>
</div>
