<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>
    <div class="container">
      <hr>
      <footer class="footer">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; <%= Time.now.year %></p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
